

body {
  background-color: #3598dc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

section {
  background-color: white;
  width: 330px;
  height: 398px;
  border-radius: 1%;
}

.line{
  height: 1px;
  width: 98%;
  margin: 10px 0;
  background-color: grey;
}

#txt {
  width: 130px;
  font-size: 15px;
}
.container {
  padding-left: 15px;
}

#email {
  margin-bottom: 15px;
  font-size: 15px;
}

#password {
  margin-bottom: 15px;
  font-size: 15px;
}

#confirm{
  font-size: 15px;
}

input {
  padding: 10px;
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 7%;
}

.email {
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.accept {
  display: flex;
  align-items: center;

}

.accept:last-child{
  margin-left: 10px;
}

span {
  color: rgb(37, 175, 221);
}

button {
  padding: 13px 25px;
  background-color: #3598dc;
  border: none;
  border-radius: 8%;
  color: white;
  margin-top: 15px;
  font-size: 20px;
}
.Login {
  margin: 30px 0 0 70px;
  color:white;
}

a {
  color:white;
}

.text-info{
  margin-left: 10px;
}

.text-1{
  color: grey;
}